html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.logo {
  left: 0;
  margin: 16px 32px;
  padding: 0;
  width: 6rem;
}

header {
  padding: 0;
  margin: 0;
  background-color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

nav {
  margin: 0;
  background-color: white;
  width: 45%;
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  margin-bottom: 1em;
  margin-right: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-toggle:checked ~ nav {
  display: block;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::after,
.nav-toggle-label span::before {
  display: block;
  background: black;
  height:2px;
  width: 2em;
  position: relative;
}

.nav-toggle-label span::after,
.nav-toggle-label span::before {
  content: '';
  position: absolute;
}

.nav-toggle-label span::after {
  top: 8px;
}

.nav-toggle-label span::before {
  bottom: 8px;
}

.banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/banner.jpg);
  background-color: pink;
  height: 27em;
  background-position: 65% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 75px;
}

.banner-headline {
  margin: 0 1em;
  position: relative;
  top: 5em;
}

.banner-headline h2 {
  bottom: 0;
  margin: 0;
  font-size: 3em;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
}

.banner-headline p {
  margin: .5em 0 3em;
  font-size: 1em;
  color: white;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
}

.banner-headline a {
  padding: .8rem;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: oblique;
  color: black;
  background-color: white;
}

.introduce {
  position: relative;
  top: 4em;
  padding: 1rem;
  background-color: black;
}

.introduce h3 {
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
}

.introduce p {
  color: white;
  font-size: 1em;
  text-align: center;
}

.inspiration {
  margin: 1em;
  position: relative;
  top: 4em;
}
.inspiration h3 {
  margin: 0;
  font-size: 1.3em;
  text-transform: uppercase;
}

.inspiration img {
  margin: 0;
  padding-bottom: .2em;
}

ul {
  list-style-type: none;
  margin: 1em;
  padding: 0;
}

h4 {
  margin: 0 0 1em;
  font-size: 1em;
  font-weight: bold;
}

.inspiration a {
  text-decoration: none;
  color: black;
}

footer {
  margin: 0;
  position: relative;
  top: 4em;
  background-color: #fde8cd;
}

footer ul {
  padding: 1em;
  margin: 1em;
  display: flex;
  justify-content: center;
  grid-gap: 1em;
  align-items: center;
}

footer ul li {
  width: 1.5em;
}

footer ul li:first-child {
  width: .7em;
}

li:hover {
  transform-origin: top right;
  transform: scale(1.1);
}

.inspiration li:hover {
  transform: scale(1.03);
}

main div a:hover {
  background-color: #69c642;
  color: white;
  border: none;
}

@media only screen and (min-width: 40em) {

  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .logo {
    margin-left: 1em;
    width: 4em;
    grid-column: 1 / 2;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 1em;
    margin-bottom: 0;
  }

  nav a {
    position: relative;
    font-size: 1.2em;
  }

  .banner-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/banner.jpg);
    background-color: pink;
    height: 50em;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 90px;
  }

  .banner-headline {
    position: relative;
    top: 8em;
    margin: 0 3em;
  }

  .banner-headline h2 {
    font-size: 6em;
  }

  .banner-headline p {
    font-size: 2em;
    margin-bottom: 2em;
  }

  .banner-headline a {
    font-size: 2em;
  }

  .introduce h3 {
    margin-left: 3em;
    margin-right: 3em;
    font-size: 2em;
  }

  .introduce p {
    margin-left: 3em;
    margin-right: 3em;
    font-size: 1.2em;
  }

  .inspiration {
    margin-left: 3em;
    margin-right: 3em;
  }

  .inspiration h3 {
    font-size: 2em;
    margin: 1em 0;
  }

  .inspiration ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    grid-gap: 2rem;
  }

}
