html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1 img {
  padding: 0 0 0 6rem ;
  width: 15rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: 0 0;
}

nav {
  padding: 0 6rem 0 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

nav ul li {
  padding: 1rem;
  align-self: center;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

nav a img {
  width: 1rem;
}

.banner {
  position: relative;
  overflow: hidden;
}

.banner-headline {
  padding: 0 0 6rem 6rem;
  position: absolute;
  top: 12rem;
}

.banner-headline h2 {
  margin: 0;
  font-size: 65px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
}

.banner-headline p {
  margin: 0 0 3rem;
  font-size: 22px;
  color: white;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
}

.banner-headline a {
  padding: 1rem;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: oblique;
  color: black;
  background-color: white;
  border: 3px solid white;
}

.introduce {
  padding: 8rem;
  background-color: black;
}

.introduce h3 {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}

.introduce p {
  color: white;
  font-size: 18px;
  text-align: center;
}

.inspiration h3 {
  margin: 0;
  padding: 5rem 6rem 0;
  font-size: 25px;
  text-transform: uppercase;
}

.inspiration img {
  padding-bottom: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 3rem 6rem 5rem;
  display: flex;
  grid-gap: 2rem;
}

h4 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.inspiration a {
  text-decoration: none;
  color: black;
}

footer {
  padding: 4rem;
  background-color: #fde8cd;
  display: flex;
  grid-gap: 3rem;
  justify-content: center;
}

footer ul {
  padding: 0;
  align-items: center;
}

footer ul li {
 width: 2rem;
}

footer ul li:first-child {
  width: 1rem;
}

li:hover {
  transform: scale(1.1);
}

main div a:hover {
  background-color: #69c642;
  color: white;
  border: none;
}

@media only screen and (max-width: ) {

}
